@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import "tailwindcss/tailwind.css";
@import "antd/dist/antd.css";

body,
html {
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.nav-bar {
    -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

.ant-card-body {
    padding: 0 !important;
}

* {
    margin: 0;
    padding: 0;
}

#__next {
    height: 100%;
}

.animation-page-container-enter {
    opacity: 0;
    /* right: 0; */
}
.animation-page-container-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;

    /* transition: transform 0.8s ease; */
    /* transform: translateX(-100%);
    -webkit-transform: translateX(-100%); */
}
.animation-page-container-exit {
    opacity: 1;
    /* transform: translateX(-200%); */
}
.animation-page-container-exit-active {
    opacity: 0;
    /* transform: translateX(-200%); */
    transition: opacity 500ms ease-in;
    /* transition: transform 0.5s ease; */
}
